<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OpenSSLUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <OpenSSLUI.Properties.Settings>
            <setting name="ConfigFolderName" serializeAs="String">
                <value>config</value>
            </setting>
            <setting name="CSRConfigFile" serializeAs="String">
                <value>OpenSSLCreateCSRConfig.txt</value>
            </setting>
            <setting name="CAConfigFile" serializeAs="String">
                <value>OpenSSLCreateCACertConfig.txt</value>
            </setting>
            <setting name="OpenSSLExecutableFileName" serializeAs="String">
                <value>openssl.exe</value>
            </setting>
            <setting name="DEFAULT_BIT_LENGTH" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="DEFAULT_VALIDITY_PERIOD" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="DEFAULT_CA_VALIDITY_PERIOD" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="DEFAULT_CA_ALOGORITHM" serializeAs="String">
                <value>x509</value>
            </setting>
        </OpenSSLUI.Properties.Settings>
    </userSettings>
</configuration>
